<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div>
	<p style="font-size: 18px; font-style: bold">
	Who are we?
LetsBuildThatApp is owned and operated by Brian Voong. For any concerns, please email us at support@lminemustang.com. We do not maintain a business phone number.
<br>
What sort of personal information do we collect about you?<br>
Here is the information we collect from you:<br>
Username<br>
Email Address<br>
First and Last Name<br>
What we do not collect:<br>
Credit card information<br>
We share payment information with the payment processor company Stripe to complete transactions. We do not store this type of sensitive <br>information and adhere to PCI Standards.<br>

Do you use cookies?<br>
Yes, cookies are primarily used to let us know you are browsing the website. In order for us to present relevant information such as your<br> purchases, we use cookies to make it possible. Google Analytics also uses cookies to help us improve the website and overall presentation to <br>our users.<br>

Facebook Login<br>
Some basic information is retrieved through the Facebook Login feature:<br>
Email Address<br>
First and Last Name<br>
If you wish to turn your Facebook enabled account into a standard email/password login account, please email support@letsbuildthatapp.com.<br>

Where is my personal data stored?<br>
Your data is stored through the Heroku services platform<br>.

How long is data stored?<br>
To keep your account in good condition, we keep your data until you tell us to delete it<br>.
</p>
<a href="index.html">home</a>
</div>

</body>
</html>