
<body>

	
	<div style="margin-top:70px;" class="container">
		<p style="color: red;font-weight: 900;font-size: 20px;text-align: center;">Upcoming Course</p>
		<p style="font-weight: 400;text-align: center;"> we are coming with new Php course with basic to advance to provide bright future our enroll Students </p>
	</div>
	<hr>	

	<!-- carosel below  -->
<div class="container-fluid">
	<div id="demo" class="carousel slide" data-ride="carousel" >
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="images/n.png" alt="Los Angeles" width="1350px;" height="300px;">
	      <div class="carousel-caption">
	        <h3>Core PHP</h3>
	        <p style="color: black;font-weight: 900">We are coming with upcoming Core php cousre</p>
	      </div>   
	    </div>
	    <div class="carousel-item">
	      <img src="images/iii.jpg" alt="Chicago" width="1350px;" height="300px;">
	      <div class="carousel-caption">
	        <h3 style="color: black">Laravel</h3>
	        <p style="color:whitesmoke; font-weight: 900;">Lets Get advance tutorial LARAVEL in upcoming Course</p>
	      </div>   
	    </div>
	    <div class="carousel-item">
	      <img src="images/inginter.png" alt="New York" width="1350px;" height="300px;">
	      <div class="carousel-caption">
	        <h3 style="color: black">codeigniter</h3>
	        <p style="color: black;font-weight: 900">lets Get with codeigniter course in upcoming period</p>
	      </div>   
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	</div>
</div>
<div>
<section class="gallery-block cards-gallery">
   	<div class="container">
   		
      <div class="heading">
   			<h2>Our Courses</h2>
   		</div>
   		<div class="row">
   			<div class="col-md-6 col-lg-4">
   				<div class="card border-0 transform-on-hover">
   					<a class="lightbox" href="images/symfony.png"><img src="images/symfony.png" class="card-img-top " style="height: 230px"></a>
   					<div class="card-body">
   						<h6>symfony Course</h6>
              <p class="text-muted card-text">
                
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:5px;">coming soon</button>
              </p>
   					</div>
   				</div>
   			</div>
   			
   			<div class="col-md-6 col-lg-4">
   				<div class="card border-0 transform-on-hover">
   					<a class="lightbox" href="images/cake.jpg"><img src="images/cake.jpg" class="card-img-top" style="height:230px"></a>
   					<div class="card-body">
   						<h6>Cake PHP</h6>
   						<p class="text-muted card-text"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:5px;">Comming Soon</button>.</p>
   					</div>
   				</div>
   			</div>
   			
   			<div class="col-md-6 col-lg-4">
   				<div class="card border-0 transform-on-hover">
   					<a class="lightbox" href="images/yii.jpg"><img src="images/yii.jpg" class="card-img-top" style="height: 230px;"></a>
   					<div class="card-body">
   						<h6>YII Framework </h6>
   						
              <p class="text-muted card-text"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"style="margin-top:5px;">Coming soon</button></p>
   					</div>
   				</div>
   			</div>
   		</div>
   		
   		
   		<div class="row">
   			<div class="col-md-6 col-lg-4">
   				<div class="card border-0 transform-on-hover">
   					<a class="lightbox" href="images/full.jpg"><img src="images/full.jpg" class="card-img-top"></a>
   					<div class="card-body">
              <h6>Full Stack web development with PHP</h6>
              
   						<p class="text-muted card-text"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="margin-top:5px;">Coming Soon</button></p>
   					</div>
   				</div>
   			</div>
   			
   			<div class="col-md-6 col-lg-4">
   				<div class="card border-0 transform-on-hover">
   					<a class="lightbox" href="images/I5.png"><img src="images/I5.png" class="card-img-top"></a>
   					<div class="card-body">
   						<h6>Fuel PHP</h6>
              
   						<p class="text-muted card-text"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"style="margin-top:5px;">Coming Soon</button></p>
   					</div>
   				</div>
   			</div>
   			
   			<div class="col-md-6 col-lg-4">
   				<div class="card border-0 transform-on-hover">
   					<a class="lightbox" href="images/json.png"><img src="images/json.png" class="card-img-top"></a>
   					<div class="card-body">
   						<h6> Json api</h6>
              
   						<p class="text-muted card-text"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"style="margin-top:5px;">Coming SOon</button></p>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>
</div>
</body>

